<% if(locals.success && locals.success.length) { %>

<div class="alert alert-success alert-dismissible fade show" role="alert">
    <%= locals.success %>

    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<% } %>


<% if(locals.error && locals.error.length) { %>

<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <%= locals.error %>

    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<% } %>